body {
	color:whitesmoke;

	background-color:dimgray;

 font-size:30px;

}


a {
	color:limegreen;
}

h1 {
	font-family:Orbitron;
	text-align:center;
}

p {
	font-family:Inter;
    font-size:1.0em;
    text-align:center;

}