body {
	 background: dimgray;
  position: relative;
  overflow: hidden;
	color:whitesmoke;

	background-color:dimgray;

 font-size:30px;

}


a {
	color:limegreen;
}

h1 {
	font-family:Orbitron;
	text-align:center;
}

p {
	font-family:Inter;
    font-size:1.0em;
    text-align:center;


}

.glitch {
  position: relative;
  display: inline-block;
  color: whitesmoke;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 cyan;
  animation: glitch-2 1.5s infinite linear alternate-reverse;
}

@keyframes glitch-1 {
  0%   { clip-path: inset(10% 0 85% 0); }
  20%  { clip-path: inset(40% 0 45% 0); }
  40%  { clip-path: inset(80% 0 5% 0); }
  60%  { clip-path: inset(30% 0 55% 0); }
  80%  { clip-path: inset(50% 0 30% 0); }
  100% { clip-path: inset(15% 0 70% 0); }
}

@keyframes glitch-2 {
  0%   { clip-path: inset(70% 0 10% 0); }
  20%  { clip-path: inset(25% 0 50% 0); }
  40%  { clip-path: inset(10% 0 70% 0); }
  60%  { clip-path: inset(45% 0 40% 0); }
  80%  { clip-path: inset(65% 0 20% 0); }
  100% { clip-path: inset(30% 0 55% 0); }
}
body {
  background-image:
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.03),
      rgba(255,255,255,0.03) 1px,
      transparent 1px,
      transparent 3px
    );
}

body::before,
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: dimgray;
  pointer-events: none;
  z-index: 0;
  opacity: 0;
}

body::before {
  filter: drop-shadow(-3px 0 red);
  animation: bg-text-glitch-1 8s infinite;
}

body::after {
  filter: drop-shadow(3px 0 cyan);
  animation: bg-text-glitch-2 2s infinite;
}

@keyframes bg-text-glitch-1 {
  0%, 92%, 100% {
    clip-path: inset(0 0 0 0);
    transform: translate(0);
    opacity: 0;
  }
  93% {
    clip-path: inset(20% 0 60% 0);
    transform: translate(-6px, 2px);
    opacity: 1;
  }
  94% {
    clip-path: inset(55% 0 25% 0);
    transform: translate(6px, -2px);
  }
}

@keyframes bg-text-glitch-2 {
  0%, 92%, 100% {
    clip-path: inset(0 0 0 0);
    transform: translate(0);
    opacity: 0;
  }
  93% {
    clip-path: inset(65% 0 20% 0);
    transform: translate(6px, -2px);
    opacity: 1;
  }
  94% {
    clip-path: inset(30% 0 45% 0);
    transform: translate(-6px, 2px);
  }
}
